<h1>Edit Picture</h1>

<form action="http://localhost:3000/update_picture/">
  <div>
    <label for="caption">Caption:</label>
    <input value="<%= @p.caption %>" id="caption" type="text" name="caption">
  </div>
  <div>
    <label for="source">Image URL:</label>
    <input value="<%= @p.source %>" id="source" type="text" name="source">
  </div>
  <div>
    <input type="submit" value="Edit Picture">
  </div>
</form>
