<h1>Picture Index</h1>


<% @allpictures.each do |picture| %>
    <div>
        <img src="<%= picture.source %>" width="200">
    </div>
    <div>
      <p><%= picture.caption %></p>
    </div>
<% end %>
